<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <title>GEM INCLUSION</title>


      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/capture.css">
      <link rel="stylesheet" href="/css/edit.css">
      <link rel="stylesheet" href="/css/responsive.css">

      <script src="https://cdn.jsdelivr.net/npm/context-filter-polyfill/dist/index.min.js"></script>

</head>
<body id="my_body">
      
      <main>

            <section id="chosse_app_container">
                  <h1 id="chosse_app_title">Choose your app</h1>
                  <div id="choose_app_btnbox">
                        <p id="capture_app_btn" class="classic_btn">Capture</p>
                        <p id="edit_app_btn" class="classic_btn">Edit</p>
                  </div>
            </section>

            <section id="current_app"></section>

      </main>
  

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/script.js"></script>
      <script src="/js/capture.js"></script>
      <script src="/js/edit.js"></script>


</body>
</html>