<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>login page</title>

      <link rel="stylesheet" href="../css/loginPage.css">
</head>
<body>


      <main id="loginpage_main">
            <input id="user_input" type="text" placeholder="user">
            <input id="password_input" type="text" placeholder="password">

            <div id="login_button">
                  <p>login</p>
            </div>
      </main>
      

      <script src="../js/loginPage.js"></script>
</body>
</html>