/****************************************** CAPTURE STYLE *********************************************/
#capture_app_container{
      width: 92%;
      height: 92%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 4rem;
      /* border: 4px solid green; */
}
.border_green_bgbox{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 1.2rem;
      border-radius: 3.5rem;
      overflow: hidden;
}
.border_green_bgbox>img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      object-fit: cover;
}
.border_green_bgbox>div{
      width: 100%;
      height: 100%;
      border-radius: 2.5rem;
      background: var(--main-bgcolor);
}
#cam_display{
      width: 70vh;
      height: 70vh;
      position: relative;
      overflow: hidden;
}
#video_el_display{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      opacity: 0;
      pointer-events: none;
}
#canvas_video_display{
}
#captured_img_vignette{
      width: 10vw;
      min-width: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 7%;
      right: 9%;
      opacity: 0;
}
#captured_img_vignette>img{
      width: 100%;
      height: 100%;
      object-fit: contain;
}
#captured_save_img_box{
      width: 100%;
      display: flex;
      justify-content: flex-end;
}
#captured_save_img_button{
      width: 40%;
      min-width: 4.5rem;
      padding: 0.5rem;
      object-fit: contain;
      cursor: pointer;
      border-radius: 0.3rem;
      font-size: 1.5rem;
      cursor: pointer;
}
#capture_button_box{
      display: flex;
      align-items: flex-end;
      position: absolute;
      bottom: 5%;
      left: calc(1.2rem + 3%);
}
#capture_btn{
      width: 8rem;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}
#capture_btn>img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: .7;
}
#switch_cam_button{
      width: 2rem;
      height: 2rem;
      cursor: pointer;
}
#switch_cam_button>img{
      width: 100%;
      height: 100%;
      margin-left: 1rem;
      object-fit: contain;
}
#saved_overlay_capture{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      background: rgba(41,41,41, .7);
      opacity: 0;
      pointer-events: none;
}
#saved_overlay_capture>p{
      opacity: 0;
      font-size: 1.5rem;
      color: var(--main-bgcolor);
      transform: translate(0, 20%);
}
#waiting_anime_box_capture{
      width: 5rem;
      display: flex;
      justify-content: space-between;
      position: absolute;
}
#waiting_anime_box_capture>div{
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: var(--main-bgcolor);
      opacity: 0;
      /* animation: dotteAnime 1.5s infinite; */
}
@keyframes dotteAnime {
      0%{transform: translate(0, 100%) scale(1); opacity: 0;}
      40%{opacity: 1;}
      50%{transform: translate(0, 0%) scale(1.2); opacity: 1;}
      60%{opacity: 1;}
      100%{transform: translate(0, 100%) scale(1); opacity: 0;}
}

/*** LOGO ***/
#logo_box{
      width: 10vw;
      min-width: 9rem;
      position: absolute;
      bottom: 5%;
      right: calc(1.2rem + 3%);
}
#logo_box>img{
      width: 100%;
      object-fit: contain;
}

/*** TITLE ***/
#exibition_title_box{
      width: 15vw;
      min-width: 15rem;
      position: absolute;
      top: 5%;
      left: calc(1.2rem + 2%);
}
#exibition_title_box>img{
      width: 100%;
      height: 100%;
      object-fit: contain;
}