/*************************************************** DOWNLOAD PAGE STYLE ****************************************/
:root{
      --main-bgcolor : white;
}
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html{
      font-size: 62.5%;
      font-family: sans-serif;
}
body{
      width: 100vw;
      height: 100vh;
}
#download_container{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
#download_innercontainer{
      width: 92%;
      height: 92%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      border-radius: 4rem;
      /* border: 4px solid green; */
}
.border_green_bgbox{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 1rem 1.2rem;
      border-radius: 3.5rem;
      overflow: hidden;
}
.border_green_bgbox>img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      object-fit: cover;
}
.border_green_bgbox>div{
      width: 100%;
      height: 100%;
      border-radius: 2.5rem;
      background: var(--main-bgcolor);
}
#visu_image_download{
      width: auto;
      height: 60%;
      object-fit: contain;
      margin-bottom: 5vh;
}
#image_download_button{
      width: 5rem;
      height: 5rem;
      padding: 1rem;
      object-fit: contain;
      cursor: pointer;
      border-radius: 1rem;
      background: linear-gradient(145deg, #f1eeec, #ffffff);
      box-shadow: 2px 2px 5px #d8d5d1, -3px -3px 5px #ffffff;
}
#image_download_button>img{
      width: 100%;
      height: 100%;
      object-fit: contain;
}


@media (orientation: portrait) {

      #visu_image_download{
            width: 60%;
            height: auto;
      }
}